name: Build Minecraft Plugin

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        plugin: [Flamora, Novar, Zentrix] # AI Studio plugin names

    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Build Plugin ${{ matrix.plugin }}
        run: |
          cd plugins/${{ matrix.plugin }}
          ../gradlew build

      - name: Upload JAR
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.plugin }}-JAR
          path: plugins/${{ matrix.plugin }}/build/libs/*.jar
